$map_off: (key1: value1, key2: value2, key3: value3);
$map_on: (key1: value1, key2: value2, key3: value3);
// reset
html, head, body, header,
h1, h2, a, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: 32px;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  font: 100% Helvetica, sans-serif;
  background-color: black;
}
header {
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
  width: 97%;
  margin-bottom: 20px;
  color: white;
}
h1, h2{
  font-size: 1.5em;
  padding: 5px;
}
#game{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board{
  height: 100%;
  width: 40%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: black;
  margin: 0 auto;
  border-radius: 5px;
}
.dashboard{
  display: flex;
  justify-content: space-between;
  width: 33%;
  max-width: 427px;
  padding: 20px;
  font-size: 2em;
}
.tile-div{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  transition: transform 20ms
}
.yellow{
  background-color: #f5bb00;
}
.green{
  background-color: #8ea604;
}
.orange{
  background-color: #d76a03;
}
.mahogany{
  background-color: #bf3100;
}
.ON{
  // transform: translate(-10px, -15px);
  transform: scale(.85, .85);
}
.OFF{
  // background-color: darkolivegreen;
}
.score{
  padding: 8px 15px;
  background-color: orange;
  line-height: 1.2;
  font-size: inherit;
  &:hover{
    cursor: default;;
  }
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0px 30px;
  font-size: inherit;
  line-height: 1.2;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  transition: all 0.3s ease 0s;
  &:hover{
    cursor: pointer;
  }
}

.modal{
  height: 120px;
  width: 200px;
  background-color: purple;
  border: 2px solid darkgrey;
  border-radius: 10px;
  position: fixed;
  top: 35%;
  left: 40%;
  background-color: darkgrey;
  font-size: 1.2em;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  line-height: 1.2;
}

.modal button{
  padding: 5px;
  margin: 5px;
  &:hover{
    box-shadow: inset 0 0 0 3px grey;
  }
}
